$api-error-color: 'gray';

body {
    background-color: $body-background-color !important;
}

.home-page__api-error {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 60vh;

    p {
        text-align: center;
        font-size: larger;
        font-weight: 400;
        color: $api-error-color;
    }
}

.ps-prodcut__varient-name {
    color: $api-error-color !important;
}

.ps-product__varient-btn {
    outline: none !important;
    border: 1px solid rgb(173, 173, 173) !important;
    border-radius: 5px;
    background-color: transparent;
    padding: 0.5rem;
    cursor: pointer;

    &:hover,
    &:focus,
    &:active {
        outline: none !important;
        border: 1px solid rgb(192, 192, 192);
        border-radius: 5px;
        background-color: transparent;
        padding: 0.5rem;
    }
}

.ps-product__varient {
    >span {
        padding-right: 1rem;
    }
}

.ps-product__varient-btn--color {
    border: 1px solid $color-layout-2-1st !important;
}

.ps-product__varient-span {
    // >span {
    padding-right: 1rem;
    // }
}

// .register-otp__otp-inputs-parent {
//     // border: 1px solid blue;
//     width: 100%;
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
//     padding-top: 1rem;
//     padding-bottom: 1rem;
//     // border: 1px solid blue;
//     margin: auto auto;

//     >input {
//         // padding: 10px;
//         width: 40px !important;
//         border: 1px solid gray;
//         outline: none;
//         height: auto;
//         padding: 5px;
//         // bor
//     }
// }

.otp-input-parent__login {

    >div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }

    .register-otp__otp-inputs-parent {
        // border: 1px solid blue;

        padding-top: 1rem;
        padding-bottom: 1rem;
        // border: 1px solid blue;
        margin: auto auto;

        >input {
            // padding: 10px;
            width: 40px !important;
            border: 1px solid gray;
            outline: none;
            height: auto;
            padding: 5px;
            // bor
        }
    }
}

.ps-form__content {
    >h5 {
        text-align: center;
        font-weight: 600 !important;
    }
}

// .register-otp__otp-input{
//     padding: 10px;
//     width: 30px !important;
// }

.ps-shop-brand__image {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.ps-block--address__address {
    border: 1px solid rgba(0, 0, 0, 0.15);
    padding: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;

    >p {
        font-size: 15px;
    }
}

.ps-block--address__default {
    border: 1px solid #1890ff;
}

.ps-form__content {
    >input[type='checkbox'] {
        width: 50px;
    }
}

.ps-dropdown__language {
    >a {
        color: white;
    }
}

.header .header__actions {
    >* {
        margin: auto !important;
    }
}

.ps-product__title-ellips {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ps-btn {
    background-color: $color-layout-2-1st !important;
    color: #ffffff !important;
}

.ps-section__header {
    // padding-bottom: 30px !important;
}

.ps-section--shopping {
    padding: 30px 0 !important;
}

.ps-block--site-features__icons {
    color: $color-layout-2-1st !important;
}

.widget_contact-us .widget_content h3 {
    color: $color-layout-2-1st !important;

}

.ps-block--address__address {
    >p {
        // font-size: 30px;
        // font-weight: 500;
        white-space: initial;
        word-wrap: break-word;
    }

    >div {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        >p {
            font-size: 25px;
        }

        >button {
            background-color: none !important;
            border: 1px solid $color-layout-2-1st;
            color: $color-layout-2-1st;
            font-size: 15px;
            height: 30px;
        }


    }

}

.ps-block--checkout-order__promocode {
    margin-left: 1rem;

    >input {
        width: 65% !important;

        // &:hover{
        //     outline: none;
        //     border:none;
        // }
        &:hover,
        &:focus,
        &:active {
            border: 1px solid #d9d9d9;
            border-radius: 2px;

        }
    }

    >button {
        width: 30% !important;
        background-color: $color-layout-2-1st;
        color: white;
        border: none;
        outline: none;

        &:hover,
        &:focus,
        &:active {
            border: none;
            outline: none;
            background-color: $color-layout-2-1st;

        }
    }

    >p {
        text-align: left;
        border: 1px solid rgb(255, 255, 255);
    }
}

.order-successfull__details-parent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    >div {


        >p {
            color: gray;
            line-height: 2px;
            text-align: left;
        }

    }
}

.arabic-header {
    .header__content-left {
        padding-left: 30px;
    }
}

.arabic-form--quick-search {
    input {

        text-align: right;

    }
}

.arabic-ps-dropdown__language ul li {
    text-align: right;
}

.arabic-ps-mini-cart__items {
    position: relative;
    left: 75%;

}

.arabic-ps-mini-cart {
    position: absolute;
    right: auto !important;
    text-align: right;
}

.ps-arabic-account-quicklink__items {
    position: absolute;
    right: auto !important;
    text-align: right;

}

.arabic-ps-home-banner__left {
    .slick-slide img {
        // border: 1px solid blue;
        margin-left: 0;
    }
}

.offer-percentage__badge {
    width: 100%;

    >p {
        text-align: right;
        color: white;
        font-weight: 400;

        // width: fit-content;
        // border: 1px solid blue;
        >span {
            background-color: $color-layout-2-1st;
            padding: 0.7rem;

        }
    }

}

.ps-product__meta-arabic {
    display: block !important;
}

.my-orders__order-id {
    cursor: pointer;

    &:hover {
        color: $color-layout-2-1st;
    }
}

.login__forgot-password {
    color: #1890ff !important;

    &:hover {
        color: #0a88fd;
        text-decoration: underline;
        cursor: pointer;

    }
}



#nprogress {

    .bar {
        background: $color-layout-2-1st !important;
        border: 2px solid $color-layout-2-1st;
        // border: 1px solid blue;

    }

    .peg {
        box-shadow: 0 0 10px $color-layout-2-1st, 0 0 5px $color-layout-2-1st;

    }
}

.my-order__rate-and-review-text {
    cursor: pointer;
    font-weight: bold;

    &:hover {
        color: $color-layout-2-1st;
    }
}

.login-btn {
    background-color: $color-layout-2-1st;
    width: 100%;
    color: white;
    // font-weight:  !important;
    height: 50px;
    border: none;

    &:hover,
    &:active,
    &:focus {
        border: none;
        background-color: $color-layout-2-1st;
        color: white;
    }
}

.product-table-small-card {
    display: none;
    margin-bottom: 3rem;
}

@media screen and (max-width: 991px) {

    .product-table-small-card {
        display: block;

    }

}

.table-products-big-screen {
    display: none;

}

@media screen and (min-width: 992px) {

    .table-products-big-screen {
        display: block;

    }

}


.table-product-small-card__title {
    color: #0a88fd !important;

    &:hover {
        color: $color-layout-2-1st !important;
    }
}

.shop-page__sort-and-filter {
    display: flex;
    flex-direction: column;

    >div {
        width: 50%;
    }
}



.shop-page__filter-sort-small-screen {
    // display: flex;
    // flex-direction: row;
    // justify-content: space-between;
}

@media screen and (min-width: 992px) {
    .shop-page__filter-sort-small-screen {
        display: none;
    }
}



.shop-page__filter-btn {
    // display: none;
    color: #000000;
    border: 1px solid #dddddd;

    &:hover {
        color: $color-layout-2-1st;
        border: 1px solid $color-layout-2-1st;
    }

    &:active,
    &:focus {
        color: #000000;
        border: 1px solid #dddddd;
    }
}


@media screen and (max-width: 992px) {
    .shop-page__filter-sort-big-screen {
        display: none !important;
    }
}

.prouduct-title__ellips {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.container1 {


    width: 98%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 10px;
}

.account-quickliks__items {
    // margin-top: 0.5rem;
    list-style: none;
    // border: 1px solid blue;
    padding: 1rem 0.5rem;
    font-weight: 400;
    font-size: 14px;
    cursor: pointer;

    &:hover {
        color: $color-layout-2-1st;
    }
}

.product-detail__cart-btn {
    color: white;
    border-color: $color-layout-2-1st;
    background-color: $color-layout-2-1st;
    border-radius: 5px;


    // padding: 0.2rem;
    &:hover,
    &:active,
    &:focus {
        border-color: $color-layout-2-1st;
        color: $color-layout-2-1st;
        background-color: white;

    }

    >span {
        font-weight: 550 !important;

    }
}

.comment-list__product-detail {
    .ant-list-empty-text {
        width: 95vw;
        visibility: hidden !important;
    }
}

.ps-product__shopping {
    color: #242424;
}


.cart__reward-point {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    >div {
        border: 1px solid #d9d9d9;
        padding: 5px;

        >.ant-checkbox-wrapper {
            margin-left: 15px !important;

            >.ant-checkbox {
                >span {
                    width: 20px !important;
                    height: 20px !important;
                    // border-color: rgb(173, 20, 20) !important;
                }
            }
        }
    }
}

.ps-product__hover {
    border: 1px solid silver;

    &:hover {
        // border-color:$color-layout-2-1st  ;
        // border: 1px solid $color-layout-2-1st;
        border-bottom: none;
        border-color: $color-layout-2-1st !important;
    }
}

.abcd {
    width: calc(100%/4);
    // min-width: 50%;
}

.ps-product:hover .ps-product__content.hover {}

.ps-product {
    &:hover {
        .ps-product__content {
            .hover {
                height: 70px !important;
                border-color: silver !important;
            }
        }

    }

    .ps-product__hover {
        border: 1px solid silver !important;

        &:hover {
            border-bottom: none !important;
        }
    }
}


.product-card__new {
    margin-bottom: 2rem;
    padding: 1rem;
    border: 1px solid silver;
    padding: 1rem;

    &:hover {

        // border-color:  $color-layout-2-1st;
        >.pcn__name {
            color: $color-layout-2-1st;
        }
    }

    .pcn__badge-view {
        position: absolute;
        top: 2.5rem;
        right: 2.1rem;
        z-index: 1;
    }

    .pcn_badge_view1 {
        position: absolute;
        top: 1.4rem;
        right: 1.1rem;
        z-index: 1;
    }

    >.pcn__product-actions {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        width: 100%;
        margin-top: 1rem;

        div {
            padding: 0.5rem 1rem;
            cursor: pointer;

            &:hover {

                background-color: $color-layout-2-1st;
                border-radius: 50%;

                >a {
                    color: white;
                }
            }

        }
    }

    >.pcn__name {
        font-weight: 600;
        margin-top: 0.5rem;
        overflow: hidden;
        text-overflow: unset;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
    }

    .pcn__price {
        .ps-product-prices {
            .ps-product__price {
                color: black;
                font-weight: 600;
                // font-size: 14px;
            }
        }
    }
}

.product-carousel__items {
    padding: 1rem;
}

.banner-cards {
    display: none;
}

@media screen and (min-width: 576px) {


    .banner-cards {
        display: flex;
        flex-direction: row;
        // justify-content: space-between;
        padding-top: 2rem;
        padding-bottom: 2rem;
        width: 100%;

    }
}



@media screen and (min-width: 576px) {


    .banner-card-mobile {
        display: none;
    }
}



.ellips_text {

    overflow: hidden;
    text-overflow: unset;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.ant-input:focus {
    border-color: $color-layout-2-1st;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(236, 86, 40, 0.2);
    box-shadow: 0 0 0 2px rgba(236, 86, 40, 0.2);
}


.login-btn__parents {
    margin: auto auto;
    width: 100%;
}

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.google-btn {
    margin-left: 73px;
    cursor: pointer;
    width: 221px;
    height: 42px;
    background-color: $google-blue;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);

    .google-icon-wrapper {
        position: absolute;
        margin-top: 1px;
        margin-left: 1px;
        width: 40px;
        height: 40px;
        border-radius: 2px;
        background-color: $white;
    }

    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }

    .btn-text {
        float: right;
        margin: 11px 11px 0 0;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
    }

    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }

    &:active {
        background: $button-active-blue;
    }
}

.loginBtn {
    margin-left: 73px;

    box-sizing: border-box;
    position: relative;

    margin-top: 1.5rem;
    padding: 0 15px 0 46px;
    border: none;
    text-align: left;
    line-height: 34px;
    white-space: nowrap;
    border-radius: 0.2em;
    font-size: 16px;
    color: #FFF;
}

.loginBtn:before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 34px;
    height: 100%;
}

.loginBtn:focus {
    outline: none;
}

.loginBtn:active {
    box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1);
}


.loginBtn--facebook {
    background-color: #4C69BA;
    background-image: linear-gradient(#4C69BA, #3B55A0);
    text-shadow: 0 -1px 0 #354C8C;
}

.loginBtn--facebook:before {
    border-right: #364e92 1px solid;
    background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
    background-color: #5B7BD5;
    background-image: linear-gradient(#5B7BD5, #4864B1);
}

.product-name__compare {
    height: 70px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    font-weight: bold;
    color: black;
    margin-top: 1rem;
}

.checkbox-input__cart {

    .ant-checkbox-inner {
        width: 25px !important;
        height: 25px !important;
    }

    .ant-checkbox-checked .ant-checkbox-inner {
        width: 25px !important;
        height: 25px !important;
    }

}


.active_product-varient__product {
    border-radius: 7px;
    padding: 1rem;
    background-color: $color-1st;
    color: white;
    font-weight: 600;
    box-shadow: none;
    outline: none;
    border: none;
    border: 1px solid $color-1st;

}

.product-varient__product {
    border-radius: 7px;
    padding: 1rem;
    background-color: white;
    color: $color-1st;
    font-weight: 600;
    box-shadow: none;
    outline: none;
    border: 1px solid $color-1st;

    &:hover {
        background-color: $color-1st;
        color: white;
    }

}

.faq-collapse {
    .ant-collapse-header-text {
        color: black;
        font-size: 18px;
        // font-weight: bold;
    }
}



.page-heading__pages::first-letter {
    text-transform: capitalize;
}

.notification__custom {
    text-align: right !important;
}

.product-main-page-list{
    width:"20%"
}

.product-card-price-and-rating{
    display: flex;
    flex-direction: column;
    // @media screen and (max-width:576px) {
    //    height: 80px ;
    // }
    >.first-div{
        display: flex;
        flex-direction: row;
        // @media screen and (max-width:576px) {
        //     flex-direction: column-reverse;
        //  }
        >span{
            font-weight: bold;
            font-size: 17px;
        }
        
    }

    .rating-parent{
        margin-left: 1rem;
        margin-top:0rem;
        width: fit-content;
        height: 22.5px;
        background-color: #388e3c;
        display: flex;
        flex-direction: row;
        border-radius: 0.3rem;
        // @media screen and (max-width:576px) {
        //     margin-left: 0;

        //  }
        >.rating-count{
            color: white;
            padding: 0.5rem;
            padding-top: 0rem;
            font-weight: bold;
        }
        
    }
}

.arrow-btn-banner{
    &:hover {
        background-color: black;
        opacity: 0.5;
        padding: 1.5rem;
        border-radius: 50%;
    }

}